@model EmployeeLeaveRequestVM

@{
    ViewData["Title"] = "My Leave";
}



<h2>Current Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].RequestComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>

                <td>
                    @if (item.Canceled)
                    {
                        <span class="badge bg-secondary">Cancelled</span>
                    }
                    else if (item.Approved == null)
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                    else if (item.Approved.Value)
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else if (item.Approved.Value == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                </td>

                <td>
                    @if (item.Approved == null && item.Canceled == false)
                    {
                        <form asp-action="Cancel">
                            <input asp-for="@item.Id" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">Cancel Request</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>